version: '3'
services: 
    db:
        environment:
            - MYSQL_ROOT_PASSWORD=password
            - MYSQL_DATABASE=foo
        build:
            context: ./mysql/
            dockerfile: Dockerfile
        ports:
            - 3306:3306
    api:
        build:
            context: api/
            dockerfile: Dockerfile
        ports:
            - 3002:3002
    # mysql:
    #     environment:
    #         - MYSQL_ROOT_PASSWORD=password
    #         - MYSQL_DATABASE=foo
    #     build:
    #         context: mysql/
    #         dockerfile: Dockerfile    
    #     healthcheck:
    #       test: ["CMD","mysqladmin","ping","-h","localhost"]
    #       timeout: 10s
    #       retries: 10        
    # api:
    #     build:
    #         context: api/ 
    #         dockerfile: Dockerfile
    #     depends_on:
    #         - "db"
    #             # condition: service_healthy
    #     links:
    #       - "db"
